
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Kanit:ital,wght@0,300;1,100&display=swap');

/* Asterisk wildcard selector to override default styles added by the browswer */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Kanit', sans-serif;
}

/* header */ 
header {
    background-color: lightcoral;
}

h1 {
    font-family: 'Inter', sans-serif;
}

/*main */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;

}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/three-flags.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    color: #ffffff;
    background-color: rgba(241, 109, 107, .7);
    font-size: 100%;
}

#cover-text-english {
    color: #ffffff;
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
}

#cover-text-french {
    color: #ffffff;
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
}

#cover-text-spanish {
    color: #ffffff;
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
}




/* sign up section */

#signup {
    /*background-image: url("assets/images/three-flags.webp");
    background-size: cover; */
    padding: 50px 15% 0 15%;
    /*background-position: 50%;*/
    flex-grow: 1;
}

#feedback {
    display: flex;
}

.radio-buttons {
    width: 100%;
    display: flex;
    /*left: 0;*/
}

.send-button:hover {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 75%;
    
}

.reset-button:hover {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 75%;
    
}

/*footer*/
footer {
    background-color: orange;
}