
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Kanit:ital,wght@0,300;1,100&display=swap');

/* Asterisk wildcard selector to override default styles added by the browswer */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Kanit', sans-serif;
}

/* header */ 
header {
    background-color: lightcoral;
}

h1 {
    font-family: 'Inter', sans-serif;
}

/*main */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;

}

#signup {
    background-image: url("assets/images/three-flags.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}


/*footer*/
footer {
    background-color: orange;
}